---
---

@import "{{ site.theme }}";
/* LAYOUT STYLES */
body {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.1;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

header h1 {
  width: 100%;
  font-size: 3rem;
}

header h2 {
  width: 100%;
  font-size: 2rem;
}

.inner {
  width: 80%;
}

a.button {
  font-size: 1.2rem;
}
a.button small {
  font-size: 1rem;
}

aside a.button {
  font-size: 1.2rem;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  word-wrap:normal;
}

code {
  padding: 0 3px;
  background-color: #f8f8f8;
  border: solid 1px #dbe7f3;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
  display: block;
  white-space: pre;
}

ul, ol, dl {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* COMMON STYLES */
#main-content h2 {
    margin-bottom: 0.25rem;
}
/* GENERAL ELEMENT TYPE STYLES */
