---
---

@import "{{ site.theme }}";
/* LAYOUT STYLES */
body {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

header h1 {
  width: 100%;
  font-size: 1.5rem;
}

header h2 {
  width: 100%;
  font-size: 1.2rem;
}

section {
  width:90%;
  float:center;
  padding-bottom:5px;
}
.inner {
  width: 80%;
}

a.button {
  font-size: 1.2rem;
}
a.button small {
  font-size: 1rem;
}

aside a.button {
  font-size: 1.2rem;
}

ul, ol, dl {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* COMMON STYLES */
#main-content h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}
#main-content h3 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

/* GENERAL ELEMENT TYPE STYLES */
